<?xml version="1.0"?>
<config>
    <modules>
        <Bc_Manufacturer>
            <version>1.1.10</version>
        </Bc_Manufacturer>
    </modules>
    <frontend>
        <routers>
            <manufacturer>
                <use>standard</use>
                <args>
                    <module>Bc_Manufacturer</module>
                    <frontName>manufacturer</frontName>
                </args>
            </manufacturer>
        </routers>
        <layout>
            <updates>
                <manufacturer>
                    <file>manufacturer.xml</file>
                </manufacturer>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                    <args>
                    <modules>
                        <manufacturer after="Mage_Adminhtml">Bc_Manufacturer_Adminhtml</manufacturer>
                        </modules>
                    </args>
                </adminhtml>    
        </routers>
    </admin>
    <adminhtml>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Bc_Manufacturer>
							<title>Manufacturer Module</title>
							<sort_order>10</sort_order>
						</Bc_Manufacturer>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<manufacturer>
					<file>manufacturer.xml</file>
				</manufacturer>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <manufacturer>
                <class>Bc_Manufacturer_Model</class>
                <resourceModel>manufacturer_mysql4</resourceModel>
            </manufacturer>
            <manufacturer_mysql4>
                <class>Bc_Manufacturer_Model_Mysql4</class>
                <entities>
                    <manufacturer>
                        <table>manufacturer</table>
                    </manufacturer>
                </entities>
            </manufacturer_mysql4>
        </models>
        <resources>
            <manufacturer_setup>
                <setup>
                    <module>Bc_Manufacturer</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </manufacturer_setup>
            <manufacturer_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </manufacturer_write>
            <manufacturer_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </manufacturer_read>
        </resources>
        <blocks>
            <manufacturer>
                <class>Bc_Manufacturer_Block</class>
            </manufacturer>
        </blocks>
        <helpers>
            <manufacturer>
                <class>Bc_Manufacturer_Helper</class>
            </manufacturer>
        </helpers>
    </global>
</config>